/** ESTILOS GENERALES**/

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
}

.box p,
.box h1,
.box h2,
.box h3,
.box ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul,
ol {
  margin-left: 20px;
  margin-bottom: 10px;
}

body {
  background: #f2f2f2;
}

/**ESTILOS DE LA CABECERA**/


header {
  width: 1212px;
  height: 140px;
  background: #23282b;
  margin: 0px auto;
}

.clear_fix{
  clear:both;
  float: none;
}

#logotipo {
  width: 35%;
  height: 130px;
  margin: 0 auto;
  padding-top: 10px;
}

#logotipo img {
  display: block;
  width: 60px;
  float: left;
  margin-top: 20px;
}

#logotipo h1 {
  display: block;
  float: left;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #2ba977;
  margin-top: 35px;
  margin-left: 20px;
}

/*ESTILOS DEL NAV*/

nav {
  width: 1250px;
  height: 40px;
  margin: 0px auto;
  background: #1b1e1f;
  border: solid 1px #333333;
  box-shadow: 0px 22px 22px gray;
  font-size: 15px;
}

nav ul {
  list-style: none;
  text-decoration: none;
}

nav ul li {
  line-height: 40px;
  float: left;
}

nav ul li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: #d1d4d6;
}

nav ul li a:hover {
  background-color: #2ba977;
  box-shadow: 0px 0px 5px inset black;
  color: white;
  transition: all 200ms;
}

.date{
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: grey;
  font-size: 13px;
}

.content{
  line-height: 25px;
  text-align: justify;

}

.barra {
  width: 1250px;
  margin: 0px auto;
}

.esquina-izquierda {
  display: block;
  border-left: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: left;
}

.esquina-derecha {
  display: block;
  border-right: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: right;
}

.relleno-barra {
  display: block;
  width: 1210px;
  height: 10px;
  float: left;
  background: #2b2f30;
}

#content {
  width: 1212px;
  margin: 0px auto;
  min-height: 930px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box {
  background: white;
  width: 95%;
  min-height: 935px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0px 15px 15px gray;
}

.box form {
  width: 40%;
}

.box form input,
.box form label {
  display: block;
  padding: 5px;
  padding-left: 0px;
}

.box form input[type="text"],
.box form textarea,
.box form select {
  width: 100%;
  margin-bottom: 10px;
}

.box form select {
  width: 25%;
  padding: 2px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button {
  margin-top: 5px;
  padding: 10px;
  color: white;
  background: #2ba977;
  border-radius: 0px;
  transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
  background: #1f7e58;
  border-radius: 100px;
  transition: 300ms all;
}

.title {
  color: #444;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 5px;
}

footer {
  width: 1250px;
  background-color: #1b1e1f;
  border: 1px solid #333;
  margin: 0 auto;
  color: #d1d4d6;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 20px gray;
}

ul li a {
  color: red;
}

.rojo{
  color: red;
  box-shadow: 0px 0px 4px black;

}

.message{
  padding: 20px;
  background-color: #1f7e58;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.article_item{
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid rgb(221, 221, 221);
  padding: 15px ;
  clear: both;
  
}

.image{
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  
}

.image img{
  height: 200px;

}

.data{
  float: left;
  padding: 15px;
  padding-top: 0px;
}

.data h2{
  display: block;
  font-size: 25px;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;

}

.btn{
  padding: 10px;
  background: rgb(211, 53, 53);
  color: white;
  border: 1px solid black;
  margin-top: 20px;
  display: block;
  width: 100px ;
  text-align: center;
  border-radius: 5px 20px 5px 20px;

}

.btn_eliminar:hover{
  background-color: rgba(211, 22, 22, 0.719);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 0px 0px 0px 0px;
  
}

