{% extends 'layouts/layout.html' %}
    
    {% block title  %}
        {{title}} 
    {% endblock  %}

    {% block content  %}
       {% for articulo in articulos  %}
            <article class="article_item">
                {% if articulo.image != 'null' and articulo.image%}
      
                    <div class="image">
                    <img src="{{articulo.image.url}}">
                    </div>
                {% endif %}

    <div class="data">
        <h2>{{articulo.title}}</h2>
        <span class="date"> 
            {{ articulo.user.first_name}} {{articulo.user.last_name}} |
            {{articulo.created_at}}
        </span>
        <h4>{{articulo.content|safe}}</h4>
         <span class="date">
         Categorias: 
        {% for categoria in articulo.categories.all  %}
             {% if not  forloop.last %}
             <a href="#">{{categoria}}</a>  |
             {% else %}
             <a href="#">{{categoria}}</a>
             {% endif %}
        {% endfor %}
    </span>
    </div>

    <div class="clear_fix"></div>
  </article>

    {% endfor %}
    {% endblock  %}