{% extends 'layouts/layout.html' %}
    
    {% block title  %}
        {{title}} 
    {% endblock  %}

    {% block content  %}
        <h1 class="title" >{{title}}</h1>
        <span class="date">{{page.created_at}}</span> 

        <p class="content">{{content|safe}}</p>
    {% endblock  %}